.logo {
  font-family: 'Macondo', cursive;
  text-align: center;
  font-size: 55px;
  padding: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.play-button {
  color: white;
  background-color: green;
  font-family: 'Neucha', cursive;
  font-size: 80%;
  margin-bottom: 1%;
  width: 30%;
  min-width: 120px;
  min-height: 48px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid white;
  box-shadow:
  0 3px 4px #fff, /*bottom external highlight*/
  0 -1px 1px #666, /*top external shadow*/
  inset 0 -2px 2px rgba(0,0,0,0.5), /*bottom internal shadow*/
  inset 0 5px 5px rgba(255,255,255,0.8); /*top internal highlight*/
  border-radius: 8px;
  padding-top: .5%;
}
 .tutorial-button {
  color: white;
  background-color: green;
  font-family: 'Neucha', cursive;
  font-size: 80%;
  margin-bottom: 1%;
  margin-top: 1.5%;
  width: 30%;
  min-width: 120px;
  min-height: 48px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid white;
  box-shadow:
  0 3px 4px #fff, /*bottom external highlight*/
  0 -1px 1px #666, /*top external shadow*/
  inset 0 -2px 2px rgba(0,0,0,0.5), /*bottom internal shadow*/
  inset 0 5px 5px rgba(255,255,255,0.8); /*top internal highlight*/
  border-radius: 8px;
  padding-top: .5%;
}
