.logout-button {
  color: white;
  background-color: #4d4e4f;
  font-family: 'Neucha', cursive;
  font-size: 80%;
  margin-bottom: 1%;
  width: 60px;
  height: 48px;
  min-width: 48px;
  min-height: 48px;
  display: inline-block;
  border: 2px solid white;
  box-shadow:
  0 3px 4px gray;
  border-radius: 8px;
  padding-top: 1.5%;
  position: fixed;
  top: 2%;
  right: 3%;
  z-index: 1;
}
 .welcome {
  font-family: 'Neucha', cursive;
  margin: 2%;
}
