.home {
  text-align: center;
  font-family: 'Neucha', cursive;
  font-size: 15px;
}

.register-link {
  position: fixed;
  width: 100%;
  bottom: 3%;
}

.register-link a {
  position: relative;
}
@media only screen and (max-width: 500px) {
  #register {
    font-size: 12px;
  }
}
