.login-form {
  position: fixed;
  bottom: 5%;
  width: 100%;
}

.logo {
  font-family: 'Cinzel', cursive;
  text-align: center;
  font-size: 55px;
  padding: 5%;
  margin-top: 25%;
  margin-bottom: 5%;
}

.login-button {
  color: white;
  background-color: #4d4e4f;
  font-family: 'Neucha', cursive;
  font-size: 80%;
  margin-bottom: 1%;
  width: 133px;
  min-width: 120px;
  min-height: 48px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid white;
  box-shadow: 0 3px 4px gray;
  border-radius: 8px;
  padding-top: .5%;
  padding-bottom: 4px;
}
 .login-form {
  font-size: 20px;
  font-family: 'Neucha', cursive;
  text-align: center;
}
 .login-form input {
  margin-top: .5%;
  margin-bottom: 1.5%;
  width: 40%;
  padding: .5%;
}

@media only screen and (max-width: 600px) {
  .login-button {
    height: 48px;
    width: 48px;
    margin-top: 20px;
    padding-bottom: 0px;
  }
}
