.register-button {
  color: white;
  background-color: #4d4e4f;
  font-family: 'Neucha', cursive;
  font-size: 80%;
  margin-bottom: 1%;
  width: 133px;
  min-width: 120px;
  min-height: 48px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid white;
  box-shadow: 0 3px 4px gray;
  border-radius: 8px;
  padding-top: .5%;
  padding-bottom: 4px;
}

@media only screen and (max-width: 600px) {
  .register-button {
    height: 48px;
    width: 48px;
    margin-top: 20px;
    padding-bottom: 0px;
  }
}
