.logo {
  font-family: 'Cinzel', cursive;
  text-align: center;
  font-size: 55px;
  padding: 5%;
  margin-top: 15%;
  margin-bottom: 5%;
}

.login-link {
  position: fixed;
  width: 100%;
  bottom: 3%;
}

.login-link a {
  position: relative;
}

@media only screen and (max-width: 500px) {
  #logo {
    font-size: 40px;
    margin-top: 20%;
  }
  
  #login {
    font-size: 12px;
  }
}
