.next-button {
  color: white;
  background-color: #4d4e4f;
  font-family: 'Neucha', cursive;
  font-size: 80%;
  margin-bottom: 1%;
  width: 133px;
  min-width: 48px;
  min-height: 48px;
  display: inline-block;
  border: 2px solid white;
  box-shadow:
  0 3px 4px gray;
  border-radius: 8px;
  padding-top: 1.5%;
  position: fixed;
  bottom: 1%;
  padding-bottom: 13px;
}

.story-change-button {
  color: white;
  background-color: #4d4e4f;
  font-family: 'Neucha', cursive;
  font-size: 80%;
  margin-bottom: 1%;
  width: 200px;
  min-width: 48px;
  min-height: 48px;
  display: inline-block;
  border: 2px solid white;
  box-shadow:
  0 3px 4px gray;
  border-radius: 8px;
  padding-top: 1.5%;
  position: fixed;
  bottom: 1%;
}

@media only screen and (max-width: 1200px) {

    .save-button {
      position: fixed;
      left: 50%;
      min-width: 48px;
      min-height: 48px;
      width: 120px;
      margin-left: 5px;
      margin-right: 5px;
      left: 57%
    }

    .load-button {
      min-width: 48px;
      min-height: 48px;
      width: 120px;
      margin-left: 5px;
      margin-right: 5px;
      left: 72%;
    }

    .restart-button {
      min-width: 48px;
      min-height: 48px;
      width: 120px;
      margin-left: 5px;
      margin-right: 5px;
      left: 87%;
      right: 5%;
    }
}

@media only screen and (max-width: 1050px) {
  .save-button {
    position: fixed;
    left: 50%;
    min-width: 48px;
    min-height: 48px;
    width: 100px;
    margin-left: 5px;
    margin-right: 5px;
    left: 57%
  }

  .load-button {
    min-width: 48px;
    min-height: 48px;
    width: 100px;
    margin-left: 5px;
    margin-right: 5px;
    left: 72%;
  }

  .restart-button {
    min-width: 48px;
    min-height: 48px;
    width: 100px;
    margin-left: 5px;
    margin-right: 5px;
    left: 87%;
    right: 5%;
  }
}

@media only screen and (max-width: 850px) {
  .save-button {
    position: fixed;
    left: 50%;
    min-width: 48px;
    min-height: 48px;
    width: 80px;
    margin-left: 5px;
    margin-right: 5px;
    left: 57%;
    padding-bottom: 6px;
  }

  .load-button {
    min-width: 48px;
    min-height: 48px;
    width: 80px;
    margin-left: 5px;
    margin-right: 5px;
    left: 72%;
    padding-bottom: 6px;
  }

  .restart-button {
    min-width: 48px;
    min-height: 48px;
    width: 80px;
    margin-left: 5px;
    margin-right: 5px;
    left: 87%;
    right: 5%;
    padding-bottom: 6px;
  }

  .next-button {
    padding-bottom: 0px;
  }
}

@media only screen and (max-width: 700px) {
  .save-button {
    position: fixed;
    left: 50%;
    min-width: 48px;
    min-height: 48px;
    width: 70px;
    margin-left: 5px;
    margin-right: 5px;
    left: 57%;
    padding-bottom: 0px;
  }

  .load-button {
    min-width: 48px;
    min-height: 48px;
    width: 70px;
    margin-left: 5px;
    margin-right: 5px;
    left: 72%;
    padding-bottom: 0px;
  }

  .restart-button {
    min-width: 48px;
    min-height: 48px;
    width: 70px;
    margin-left: 5px;
    margin-right: 5px;
    left: 87%;
    right: 5%;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media only screen and (max-width: 600px) {

    .save-button {
      position: fixed;
      left: 50%;
      min-width: 48px;
      min-height: 48px;
      width: 60px;
      margin-left: 10px;
      margin-right: 10px;
    }

    .load-button {
      min-width: 48px;
      min-height: 48px;
      width: 60px;
      margin-left: 10px;
      margin-right: 10px;
      left: 65%;
    }

    .restart-button {
      min-width: 48px;
      min-height: 48px;
      width: 60px;
      margin-left: 10px;
      margin-right: 10px;
      left: 80%;
    }
}

@media only screen and (max-width: 750px) {
  .dashboard-button {
    padding-bottom: 0px;
  }

  .story-change-button {
    padding-bottom: 0px;
  }
}

@media only screen and (max-width: 414px) {
  .dashboard-button {
    width: 120px;
    display: block;
    position: fixed;
    left: 28%;
  }

  .next-button {
    width: 80px;
    position: fixed;
    left: 5%;
  }
}

@media only screen and (max-width: 414px) {
  .story-change-button {
    font-size: 11px;
    width: 100px;
    margin: 2%;
  }
}

@media only screen and (max-width: 375px) {
  .dashboard-button {
    font-size: 11px;
    width: 120px;
    display: block;
    position: fixed;
    left: 28%;
  }

  .next-button {
    font-size: 11px;
    width: 80px;
    position: fixed;
    left: 5%;
  }
}

@media only screen and (max-width: 350px) {
  .dashboard-button {
    font-size: 11px;
    width: 120px;
    display: block;
    position: fixed;
    left: 30%;
  }

  .next-button {
    font-size: 11px;
    width: 80px;
    position: fixed;
    left: 5%;
  }
}
